<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Landslide TSmanagement</title>
    <base href="/">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/about.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong style="font-size:22px">TS Management</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <button type="button" class="edit-button" data-toggle="modal" data-target="#commonModal">Edit Commmon TAS/TS</button>
                        <div class="modal fade" id="commonModal" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Commmon TAS/TS</h4>
                                      </div>
                                    <form action="/edit_common_server" method="POST">
                                        <div class="modal-body">
                                            <div>
                                                <p class="notice notice-nav">
                                                    This tab is to modify common TAS/TS into TS Management system.
                                                    Only admin can add/remove the common system.<br><br>
                                                    <strong>1) Add TAS:</strong> Change Private TAS to Common TAS<br>
                                                    <strong>2) Remove TAS:</strong> Change Common TAS to Private TAS<br>
                                                    <strong>3) Add TS:</strong> Change Private TS to Common TS<br>
                                                    <strong>4) Remove TS:</strong> Change Common TS to Private TS 			
                                                </p>
                                            </div>
                                            {% if userType == "admin" %}
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>Action:</p>
                                                </div>
                                                <div class="form-check form-check-inline">    
                                                    <input class="form-check-input" type="radio" name="common-action-type" value="add" checked="checked">
                                                    <label class="form-check-label" for="inlineRadio1">Add</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="common-action-type" value="remove">
                                                    <label class="form-check-label" for="inlineRadio2">Remove</label>
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>Type:</p>
                                                </div>
                                                <div class="form-check form-check-inline">    
                                                    <input class="form-check-input" type="radio" name="common-select-type" value="tas" onclick="disableTSField(); ableTASField()" checked="checked">
                                                    <label class="form-check-label" for="inlineRadio1">TAS</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="common-select-type" onclick="ableTSField(); disableTASField()" value="ts">
                                                    <label class="form-check-label" for="inlineRadio2">TS</label>
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TAS Address:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id=tas class="form-control" type="text" name="common-servername-tas" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TS Address #1:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="ts_1" class="form-control" type="text" name="common-servername-ts1" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required disabled="true">							
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TS Address #2:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="ts_2" class="form-control" type="text" name="common-servername-ts2" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required disabled="true">						
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-info" value="Edit">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                              </div>
                        </div>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a href="/reservePage" [routerLink]="['/reservePage']">Resevation</a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a href="/about" [routerLink]="['/about']">About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <button type="button" class="edit-button" data-toggle="modal" data-target="#userProfile">User Profile</button>
                        <div class="modal fade" id="userProfile" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">User Profile</h4>
                                      </div>
                                    <form action="/edit_user_profile" method="POST">
                                        <div class="modal-body">
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <div>
                                                        <p style="display: inline-block";>Name: </p>
                                                        <h5 style="display: inline-block";>{{ userName }}</h5>
                                                    </div>
                                                    <div>
                                                        <p style="display: inline-block";>Email: </p>
                                                        <h5 style="display: inline-block";>{{ session['email'] }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class = "custom-select system">
                                                <div class = "custom-select system title">
                                                    <p style="margin: 0";>TAS List</p>
                                                </div>
                                                <div class = "custom-select system title">
                                                    <p style="margin: 0";>TS List</p>
                                                </div>
                                            </div>
                                            <div class = "custom-select system" >
                                                <div class = "custom-select system inner">
                                                    {% for tas in userTAS %}
                                                    <div class = "custom-select system content tas">
                                                        <p style="margin: 0";>{{ tas.tasAddress }}</p>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class = "custom-select system inner">
                                                    {% for ts in userTS %}
                                                    <div class = "custom-select system content ts">
                                                        <p style="margin: 0";>{{ ts.tsAddress }}</p>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div>
                                                <p class="notice notice-nav">
                                                    This tab is to add <strong>your TAS</strong> into TS Management system by your name.
                                                    This is necessary if you want to use your TAS on the system.
                                                </p>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>Action:</p>
                                                </div>
                                                <div class="form-check form-check-inline">    
                                                    <input class="form-check-input" type="radio" name="tas-action-type" value="add" checked="checked">
                                                    <label class="form-check-label" for="inlineRadio1">Add</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="tas-action-type" value="remove">
                                                    <label class="form-check-label" for="inlineRadio2">Remove</label>
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TAS Address:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="list_content1" class="form-control" type="text" name="server-name" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" onchange="blockFunction_ts()">
                                                </div>
                                            </div>
                                            <div>
                                                <p class="notice notice-nav">
                                                    Here, you set which TAS to return to after TS reserves. 
                                                    You must assign the TS to your TAS to user the reservation system.
                                                    If you want to assign only one TS, please leave the second box empty.
                                                </p>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TAS Address:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="list_content2" class="form-control" type="text" name="tas-server-name" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" onchange="blockFunction_tas()">
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TS Address #1:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="list_content3" class="form-control" type="text" name="ts-server-name-1" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx">							
                                                </div>
                                            </div>
                                            <div class="custom-select">
                                                <div class="form-check">
                                                    <p>TS Address #2:</p>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input id="list_content4" class="form-control" type="text" name="ts-server-name-2" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx">						
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-info" value="Confirm">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                              </div>
                        </div>
                    </li>
                    {% if session['email'] %}
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                          <a href="/logout" [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-in"></span> Log out</a>
                    {% else %}
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                          <a href="/login" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

<h1 align="center">We Are Landslide</h1>

</body>
</html>
