<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Landslide TSmanagement</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles/history.css">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><strong style="font-size:22px">TS Management</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="/history" [routerLink]="['/home']">History</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="/about" [routerLink]="['/about']">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel-body">
    <table id="sortedTable" class="display">
        <thead>
        <tr>
            <th>Time</th>
            <th>TS</th>
            <th>Version</th>
            <th>Platform</th>
            <th>User</th>
            <th>From TAS</th>
            <th>To TAS</th>
        </tr>
        </thead>
        <tbody>
        {% for log in history %}
            <tr>
                <th>{{ log['Time'] }}</th>
                <td>{{ log['TS'] }}</td>
                <td>{{ log['Version'] }}</td>
                <td>{{ log['Platform'] }}</td>
                <td>{{ log['User'] }}</td>
                <td>{{ log['From'] }}</td>
                <td>{{ log['To'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!-- DataTable script libarary -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/stringMonthYear.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sortedTable").DataTable({
            "order": [[0, "desc"]],
            "iDisplayLength": 10,
            "dom": 'fltp'
        });
        $('div.dataTables_filter input').focus()
    });

</script>
</body>
</html>


