<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Landslide TSmanagement</title>
    <base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
			
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
			
	<!-- DataTable script libarary -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/stringMonthYear.js"></script>

	<style>
		/* You can add global styles to this file, and also import other style files */
		body {
			padding-top: 60px;
			font-family: 'Comfortaa', cursive;
		}
		.modal-content {
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}
		.modalbox .box {
			background-color:white;
		}
		.modal-backdrop {
			z-index: 3;
		}
		.btn btn-info btn-lg {
			height:40px;
			width:80px;
		}
		.notice {
			width: 100%;
			display: block;
			font-size: 12px;
			background-color: rgb(185, 185, 185);
			padding: 10px;
			border-radius: 1rem;
		}
		.gear {
			transition: transform 2s ease-in-out
		}
		.gear:hover{
			transform: rotate(5turn);
		}

		.edit-button {
			color: #9d9d9d;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: transparent;
			border-color: transparent;
			border: none;
			margin-left: 5px;
		}
		.edit-button:hover {
			color: White;
		}
		.custom-select {
			position: relative;
			font-family: 'Comfortaa', cursive;
			margin: 5px;
			padding-top: 5px;
		}
		/* the container must be positioned relative*/
		.custom-select select {
			display: none;
			z-index:2;
		}
		.select-selected {
			background-color: White;
			display:inline-block;
		}
		.select-selected:after {
			position:absolute;
			content:"";
			top:14px;
			right:10px;
			width:0;
			height:0;
			border:6px solid transparent;
			border-color: #fff transparent transparent transparent;
		}
		/* style the arrow inside the select element */
		.select-selected.select-arrow-active:after {
			border-color: transparent transparent #fff transparent;
			top: 7px;
		}
		/* style the items, including the selected item */
		.select-items div,.select-selected {
			color: #000000;
			padding: 8px 16px;
			border: 1px solid transparent;
			border-color: transparent transparent rgba(0,0,0,0.1) transparent;
			cursor: pointer;
		}
		/* style items */
		.select-items {
			background-color: White;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 99;
		}
		/* hide the items when the select box is closed */
		.select-hide {
			display: none;
		}
		.select-items div:hover, .same-as-selected {
			background-color: rgba(0,0,0,0.1);
		}
		.dataTables_wrapper .dataTables_paginate {
			width: 100%;
			float: none;
			text-align: center;
		}
		.form-check {
			display: inline-block;
			font-weight: bold;
		}
		.form-check-label {
			font-weight: normal;
		}
		.form-check-inline {
			margin-left: 10px;
		}
		.glyphicon-plus {
			font-size: 10px;
		}
		.form-control {
			display: inline-block;
			width: 70%;
		}
		.table-list td {
			font-size: 14px; 
			height: 100%;
		}
		.navbar {
			margin-bottom: 0px;
		}

		/* style tab */
		.tabinator {
			background: #fff;
			padding: 10px;
		}
		.tabinator input {
			display: none;
		}
		.tabinator label.tab-list {
			box-sizing: border-box;
			display: inline-block;
			padding: 15px 25px;
			color: #ccc;
			margin-bottom: -1px;
			margin-left: -1px;
		}
		.tabinator label.tab-list:before {
			content:'';
			display:block;
			width:100%;
			height:15px;
			background-color:#fff;
			position:absolute;
			bottom:-11px;
			left:0;
			z-index:2;  
		}
		.tabinator label.tab-list:hover {
			color: #888;
			cursor: pointer;
		}
		.tabinator input:checked + label.tab-list {
			position: relative;
			color: #000;
			background: #fff;
			border: 1px solid #bbb;
			border-bottom: 1px solid #fff;
			border-radius: 5px 5px 0 0;
		}
		.tabinator input:checked + label.tab-list:after {
			display: block;
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
		}
		#content1, #content2, #content3, #content4 {
			display: none;
			border-top: 1px solid #bbb;
			padding: 15px;
			z-index: -10;
		}
		#tab1:checked ~ #content1,
		#tab2:checked ~ #content2,
		#tab3:checked ~ #content3,
		#tab4:checked ~ #content4 {
			display: block;
			box-shadow: 0 0 15px #939393;
		}
		.alert {
			width: 100%;
			padding-right: 4rem;
			position: relative;
			padding: .75rem 1.25rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: .25rem;
			transition: opacity .15s linear;
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			text-align: left;
		}
		.alert-error {
			color: #721c24;
    		background-color: #f8d7da;
			border-color: #f5c6cb;
		}
		.alert-primary {
			color: #004085;
			background-color: #cce5ff;
			border-color: #b8daff;
		}
		.flashes {
        	padding-inline-start: 0px;
		}
		.notice-nav {
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
			font-size: 13px;
		}
	</style>
</head>
<body onload="showMessage('{{ message }}');">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><strong style="font-size:22px">TS Management</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<button type="button" class="edit-button" data-toggle="modal" data-target="#tasModal">Edit TAS</button>
					<div class="modal fade" id="tasModal" role="dialog">
					  	<div class="modal-dialog">
							<div class="modal-content">
						  		<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Edit TAS</h4>
						  		</div>
								<form action="/edit_tas_server" method="POST">
									<div class="modal-body">
										<div>
											<p class="notice notice-nav">
												This tab is to add <strong>your TAS</strong> into TS Management system by your name.
												This is necessary if you want to use your TAS on the system.
											</p>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>Action:</p>
											</div>
											<div class="form-check form-check-inline">    
												<input class="form-check-input" type="radio" name="tas-action-type" value="add" checked="checked" onclick="ableField()">
												<label class="form-check-label" for="inlineRadio1">Add</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="tas-action-type" value="remove" onclick="disableField()">
												<label class="form-check-label" for="inlineRadio2">Remove</label>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TAS Address:</p>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-control" type="text" name="server-name" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TAS Owner:</p>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-control" type="text" name="server-name" placeholder={{userName}} required disabled=true>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-info" value="Edit">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
					  	</div>
					</div>
				</li>
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<button type="button" class="edit-button" data-toggle="modal" data-target="#commonModal">Edit Commmon TAS/TS</button>
					<div class="modal fade" id="commonModal" role="dialog">
					  	<div class="modal-dialog">
							<div class="modal-content">
						  		<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Edit Commmon TAS/TS</h4>
						  		</div>
								<form action="/edit_common_server" method="POST">
									<div class="modal-body">
										<div>
											<p class="notice notice-nav">
												This tab is to modify common TAS/TS into TS Management system.
												Only admin can add/remove the common system.<br><br>
												<strong>1) Add TAS:</strong> Change Private TAS to Common TAS<br>
												<strong>2) Remove TAS:</strong> Change Common TAS to Private TAS<br>
												<strong>3) Add TS:</strong> Change Private TS to Common TS<br>
												<strong>4) Remove TS:</strong> Change Common TS to Private TS 			
											</p>
										</div>
										{% if userType == "admin" %}
										<div class="custom-select">
											<div class="form-check">
												<p>Action:</p>
											</div>
											<div class="form-check form-check-inline">    
												<input class="form-check-input" type="radio" name="common-action-type" value="add" checked="checked">
												<label class="form-check-label" for="inlineRadio1">Add</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="common-action-type" value="remove">
												<label class="form-check-label" for="inlineRadio2">Remove</label>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>Type:</p>
											</div>
											<div class="form-check form-check-inline">    
												<input class="form-check-input" type="radio" name="common-select-type" value="tas" onclick="disableTSField(); ableTASField()" checked="checked">
												<label class="form-check-label" for="inlineRadio1">TAS</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="common-select-type" onclick="ableTSField(); disableTASField()" value="ts">
												<label class="form-check-label" for="inlineRadio2">TS</label>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TAS Address:</p>
											</div>
											<div class="form-check form-check-inline">
												<input id=tas class="form-control" type="text" name="common-servername-tas" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TS Address #1:</p>
											</div>
											<div class="form-check form-check-inline">
												<input id="ts_1" class="form-control" type="text" name="common-servername-ts1" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required disabled="true">							
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TS Address #2:</p>
											</div>
											<div class="form-check form-check-inline">
												<input id="ts_2" class="form-control" type="text" name="common-servername-ts2" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required disabled="true">						
											</div>
										</div>
										{% endif %}
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-info" value="Edit">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
					  	</div>
					</div>
				</li>
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<button type="button" class="edit-button" data-toggle="modal" data-target="#tsModal">Allocate TS</button>
					<div class="modal fade" id="tsModal" role="dialog">
					  	<div class="modal-dialog">
							<div class="modal-content">
						  		<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Allocate TS</h4>
						  		</div>
								<form action="/edit_ts_server" method="POST">
									<div class="modal-body">
										<div>
											<p class="notice notice-nav">
												This tab is to determine which TAS your TS belongs to.<br>
												This is necessary for using the reservation function and for the TS to return to its original TAS
											</p>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TAS Address:</p>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-control" type="text" name="tas-server-name" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TS Address #1:</p>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-control" type="text" name="ts-server-name-1" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>							
											</div>
										</div>
										<div class="custom-select">
											<div class="form-check">
												<p>TS Address #2:</p>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-control" type="text" name="ts-server-name-2" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="xx.xxx.xx.xxx" required>						
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-info" value="Edit">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
					  	</div>
					</div>
				</li>
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a href="/history" [routerLink]="['/home']">History</a>
				</li>
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="/about" [routerLink]="['/about']">About</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="/reservePage" [routerLink]="['/reservePage']">Resevation</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				{% if session['email'] %}
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  	<a href="/logout" [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-in"></span> Log out</a>
				{% else %}
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  	<a href="/login" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
				</li>
				{% endif %}
            </ul>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
  <div class="alert alert-primary" role="alert">
	<strong>{{ message }}</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% if error %}
<div class="alert alert-error" role="alert">
	<strong>{{ error }}</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
</div>
{% endif %} 
<div class = "tabinator">
	<input type = "radio" id = "tab1" name = "tabs" checked>
	<label class="tab-list" for = "tab1">San Jose</label>
	<input type = "radio" id = "tab2" name = "tabs">
	<label class="tab-list" for = "tab2">Plano</label>
	<input type = "radio" id = "tab3" name = "tabs">
	<label class="tab-list" for = "tab3">BDC</label>
	<input type = "radio" id = "tab4" name = "tabs">
	<label class="tab-list" for = "tab4">Common TS</label>
	<div id = "content1">
		<div class="panel-body">
			<table id="sortedTable" class="display">
				<thead>
				<tr>
					<th>TS</th>
					<th>Owner</th>
					<th>Located TAS</th>
					<th>Name</th>
					<th>Platform</th>
					<th>Memory</th>
					<th>OS</th>
					<th>Version</th>
					<th>State</th>
					<th></th>
				</tr>
				</thead>
				<tbody class="table-list">
				{% for TS in tsList_sanJose.values() %}
					<tr>
						<th>{{ TS['info']['managementIp'] }}</th>
						<td>{{ TS['owner'] }}</td>
						<td><span id="TAS_sanjose">{{ TS['tas'] }}</span></td>
						<td>{{ TS['name'] }}</td>
						<td>{{ TS['info']['platform'] }}</td>
						<td>{{ TS['info']['memory'] }}</td>
						<td>{{ TS['info']['os'] }}</td>
						<td>{{ TS['version'] }}</td>
						<td>
							{% if 'NOT_READY' in TS['state'] %}
								<span class="label label-danger">
							{% elif 'READY' in TS['state'] %}
								<span class="label label-success">
							{% elif 'LOCK' in TS['state'] %}
								<span class="label label-danger">
							{% else %}
								<span class="label label-warning">
							{% endif %}
							{{ TS['state'] }}
							</span>
						</td>
						<td style="width:30px">
							<div class="btn-group">
								<button type="button" style="padding:3px 7px;" class="btn btn-primary" data-toggle="modal" data-target="#configuration_sanjose{{ loop.index }}"><img class="gear" src="{{url_for('static', filename='gear.jpg')}}" height="22px" weight="22px"/></button>
								<div id="configuration_sanjose{{ loop.index }}" class="modal" role="dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">TestServer Configuration</h4>
									</div>
		
									<ul class="nav nav-tabs" id="tabContent_1">
										<li class="active"><a href="#relocate{{ loop.index }}" data-toggle="tab">Relocate</a></li>
										<li><a href="#lock{{ loop.index }}" data-toggle="tab">Lock System</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="relocate_sanjose{{ loop.index }}">
											<div class="modal-body">
												<div class="custom-select" id="sanjose{{ loop.index }}">Current User : 
													<select>
														<option value="">Select User</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[1] }} </option>
														{% endfor %}
													</select>
												</div>
		
												<div class="custom-select" id=sanjose"{{ loop.index }}">Target TAS     : 
													<select>
														<option value="">Select TAS</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[0] }}({{ value[1] }}) </option>
														{% endfor %}
													</select>
												</div>
		
												<button style="margin-top:30px;" type="submit" onclick="modify('{{ TS.info.managementIp }}', '{{ loop.index }}')" class="btn btn-primary">Relocate</button>
											</div>
										</div>
										<div class="tab-pane" id="lock_sanjose{{ loop.index }}">
											<button type="submit" class="btn btn-info" onclick="lock('{{ TS.info.managementIp }}')">Lock</button>
											<button type="submit" class="btn btn-warning" onclick="unlock('{{ TS.info.managementIp }}')">Unlock</button>
										</div>
									</div>
									<div class="modal-footer">
										<button id="closeButton_1" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div id = "content2">
		<div class="panel-body">
			<table id="sortedTable2" class="display">
				<thead>
				<tr>
					<th>TS</th>
					<th>Owner</th>
					<th>Located TAS</th>
					<th>Name</th>
					<th>Platform</th>
					<th>Memory</th>
					<th>OS</th>
					<th>Version</th>
					<th>State</th>
					<th></th>
				</tr>
				</thead>
				<tbody class="table-list">
				{% for TS in tsList_plano.values() %}
					<tr>
						<th>{{ TS['info']['managementIp'] }}</th>
						<td>{{ TS['owner'] }}</td>
						<td><span id="TAS_plano">{{ TS['tas'] }}</span></td>
						<td>{{ TS['name'] }}</td>
						<td>{{ TS['info']['platform'] }}</td>
						<td>{{ TS['info']['memory'] }}</td>
						<td>{{ TS['info']['os'] }}</td>
						<td>{{ TS['version'] }}</td>
						<td>
							{% if 'NOT_READY' in TS['state'] %}
								<span class="label label-danger">
							{% elif 'READY' in TS['state'] %}
								<span class="label label-success">
							{% elif 'LOCK' in TS['state'] %}
								<span class="label label-danger">
							{% else %}
								<span class="label label-warning">
							{% endif %}
							{{ TS['state'] }}
							</span>
						</td>
						<td style="width:30px">
							<div class="btn-group">
								<button type="button" style="padding:3px 7px;" class="btn btn-primary" data-toggle="modal" data-target="#configuration_plano{{ loop.index }}"><img class="gear" src="{{url_for('static', filename='gear.jpg')}}" height="22px" weight="22px"/></button>
								<div id="configuration_plano{{ loop.index }}" class="modal" role="dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">TestServer Configuration</h4>
									</div>
		
									<ul class="nav nav-tabs" id="tabContent_2">
										<li class="active"><a href="#relocate_plano{{ loop.index }}" data-toggle="tab">Relocate</a></li>
										<li><a href="#lock_plano{{ loop.index }}" data-toggle="tab">Lock System</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="relocate_plano{{ loop.index }}">
											<div class="modal-body">
												<div class="custom-select" id="plano{{ loop.index }}">Current User : 
													<select>
														<option value="">Select User</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[1] }} </option>
														{% endfor %}
													</select>
												</div>
		
												<div class="custom-select" id="plano{{ loop.index }}">Target TAS     : 
													<select>
														<option value="">Select TAS</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[0] }}({{ value[1] }}) </option>
														{% endfor %}
													</select>
												</div>
		
												<button style="margin-top:30px;" type="submit" onclick="modify('{{ TS.info.managementIp }}', '{{ loop.index }}')" class="btn btn-primary">Relocate</button>
											</div>
										</div>
										<div class="tab-pane" id="lock_plano{{ loop.index }}">
											<button type="submit" class="btn btn-info" onclick="lock('{{ TS.info.managementIp }}')">Lock</button>
											<button type="submit" class="btn btn-warning" onclick="unlock('{{ TS.info.managementIp }}')">Unlock</button>
										</div>
									</div>
									<div class="modal-footer">
										<button id="closeButton_2" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div id = "content3">
		<div class="panel-body">
			<table id="sortedTable3" class="display">
				<thead>
				<tr>
					<th>TS</th>
					<th>Owner</th>
					<th>Located TAS</th>
					<th>Name</th>
					<th>Platform</th>
					<th>Memory</th>
					<th>OS</th>
					<th>Version</th>
					<th>State</th>
					<th></th>
				</tr>
				</thead>
				<tbody class="table-list">
				{% for TS in tsList_bdc.values() %}
					<tr>
						<th>{{ TS['info']['managementIp'] }}</th>
						<td>{{ TS['owner'] }}</td>
						<td><span id="TAS_bdc">{{ TS['tas'] }}</span></td>
						<td>{{ TS['name'] }}</td>
						<td>{{ TS['info']['platform'] }}</td>
						<td>{{ TS['info']['memory'] }}</td>
						<td>{{ TS['info']['os'] }}</td>
						<td>{{ TS['version'] }}</td>
						<td>
							{% if 'NOT_READY' in TS['state'] %}
								<span class="label label-danger">
							{% elif 'READY' in TS['state'] %}
								<span class="label label-success">
							{% elif 'LOCK' in TS['state'] %}
								<span class="label label-danger">
							{% else %}
								<span class="label label-warning">
							{% endif %}
							{{ TS['state'] }}
							</span>
						</td>
						<td style="width:30px">
							<div class="btn-group">
								<button type="button" style="padding:3px 7px;" class="btn btn-primary" data-toggle="modal" data-target="#configuration_bdc{{ loop.index }}"><img class="gear" src="{{url_for('static', filename='gear.jpg')}}" height="22px" weight="22px"/></button>
								<div id="configuration_bdc{{ loop.index }}" class="modal" role="dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">TestServer Configuration</h4>
									</div>
		
									<ul class="nav nav-tabs" id="tabContent_3">
										<li class="active"><a href="#relocate_bdc{{ loop.index }}" data-toggle="tab">Relocate</a></li>
										<li><a href="#lock_bdc{{ loop.index }}" data-toggle="tab">Lock System</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="relocate_bdc{{ loop.index }}">
											<div class="modal-body">
												<div class="custom-select" id="bdc{{ loop.index }}">Current User : 
													<select>
														<option value="">Select User</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[1] }} </option>
														{% endfor %}
													</select>
												</div>
		
												<div class="custom-select" id="bdc{{ loop.index }}">Target TAS     : 
													<select>
														<option value="">Select TAS</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[0] }}({{ value[1] }}) </option>
														{% endfor %}
													</select>
												</div>
												<button style="margin-top:30px;" type="submit" onclick="modify('{{ TS.info.managementIp }}', '{{ loop.index }}')" class="btn btn-primary">Relocate</button>
											</div>
										</div>
										<div class="tab-pane" id="lock_bdc{{ loop.index }}">
											<button type="submit" class="btn btn-info" onclick="lock('{{ TS.info.managementIp }}')">Lock</button>
											<button type="submit" class="btn btn-warning" onclick="unlock('{{ TS.info.managementIp }}')">Unlock</button>
										</div>
									</div>
									<div class="modal-footer">
										<button id="closeButton_3" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div id = "content4">
		<div class="panel-body">
			<table id="sortedTable4" class="display">
				<thead>
				<tr>
					<th>TS</th>
					<th>Owner</th>
					<th>Located TAS</th>
					<th>Name</th>
					<th>Platform</th>
					<th>Memory</th>
					<th>OS</th>
					<th>Version</th>
					<th>State</th>
					<th></th>
				</tr>
				</thead>
				<tbody class="table-list">
				{% for TS in tsList_common.values() %}
					<tr>
						<th>{{ TS['info']['managementIp'] }}</th>
						<td>{{ TS['owner'] }}</td>
						<td><span id="TAS_common">{{ TS['tas'] }}</span></td>
						<td>{{ TS['name'] }}</td>
						<td>{{ TS['info']['platform'] }}</td>
						<td>{{ TS['info']['memory'] }}</td>
						<td>{{ TS['info']['os'] }}</td>
						<td>{{ TS['version'] }}</td>
						<td>
							{% if 'NOT_READY' in TS['state'] %}
								<span class="label label-danger">
							{% elif 'READY' in TS['state'] %}
								<span class="label label-success">
							{% elif 'LOCK' in TS['state'] %}
								<span class="label label-danger">
							{% else %}
								<span class="label label-warning">
							{% endif %}
							{{ TS['state'] }}
							</span>
						</td>
						<td style="width:30px">
							<div class="btn-group">
								<button type="button" style="padding:3px 7px;" class="btn btn-primary" data-toggle="modal" data-target="#configuration_common{{ loop.index }}"><img class="gear" src="{{url_for('static', filename='gear.jpg')}}" height="22px" weight="22px"/></button>
								<div id="configuration_common{{ loop.index }}" class="modal" role="dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">TestServer Configuration</h4>
									</div>
		
									<ul class="nav nav-tabs" id="tabContent_3">
										<li class="active"><a href="#relocate_common{{ loop.index }}" data-toggle="tab">Relocate</a></li>
										<li><a href="#lock_common{{ loop.index }}" data-toggle="tab">Lock System</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="relocate_common{{ loop.index }}">
											<div class="modal-body">
												<div class="custom-select" id="common{{ loop.index }}">Current User : 
													<select>
														<option value="">Select User</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[1] }} </option>
														{% endfor %}
													</select>
												</div>
		
												<div class="custom-select" id="common{{ loop.index }}">Target TAS     : 
													<select>
														<option value="">Select TAS</option>
														{% for TAS in tasList %}
															{% set value = TAS.split(',') %}
															<option value="{{ value[0] }}"> {{ value[0] }}({{ value[1] }}) </option>
														{% endfor %}
													</select>
												</div>
												<button style="margin-top:30px;" type="submit" onclick="modify('{{ TS.info.managementIp }}', '{{ loop.index }}')" class="btn btn-primary">Relocate</button>
											</div>
										</div>
										<div class="tab-pane" id="lock_common{{ loop.index }}">
											<button type="submit" class="btn btn-info" onclick="lock('{{ TS.info.managementIp }}')">Lock</button>
											<button type="submit" class="btn btn-warning" onclick="unlock('{{ TS.info.managementIp }}')">Unlock</button>
										</div>
									</div>
									<div class="modal-footer">
										<button id="closeButton_3" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sortedTable").DataTable({
            "order": [[1, "asc"]],
            "iDisplayLength": 10,
            "columnDefs": [{ "searchable": false, "targets": 9 }],
            "dom": 'fltp'
		});
		$("#sortedTable2").DataTable({
            "order": [[1, "asc"]],
            "iDisplayLength": 10,
            "columnDefs": [{ "searchable": false, "targets": 9 }],
            "dom": 'fltp'
		});
		$("#sortedTable3").DataTable({
            "order": [[1, "asc"]],
            "iDisplayLength": 10,
            "columnDefs": [{ "searchable": false, "targets": 9 }],
            "dom": 'fltp'
		});
		$("#sortedTable4").DataTable({
            "order": [[1, "asc"]],
            "iDisplayLength": 10,
            "columnDefs": [{ "searchable": false, "targets": 9 }],
            "dom": 'fltp'
        });
		$('div.dataTables_filter input').focus();
	});

	//////////////// drop-down implementation //////////////////////
	var dropdownlist, selElmnt, selectdiv, tempdiv, optiondiv, i, j;

	/* Look for any elements with the class "custom-select": */
	dropdownlist = document.getElementsByClassName("custom-select");

	for (i = 0; i < dropdownlist.length; i++) {
		selElmnt = dropdownlist[i].getElementsByTagName("select")[0];

		/* For each element, create a new DIV that will act as the selected item: */
		selectdiv = document.createElement("DIV");
		selectdiv.setAttribute("class", "select-selected");
		selectdiv.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
		dropdownlist[i].appendChild(selectdiv);

		/* For each element, create a new DIV that will contain the option list: */
		tempdiv = document.createElement("DIV");
		tempdiv.setAttribute("class", "select-items select-hide");

		for (j = 1; j < selElmnt.length; j++) {
			/* For each option in the original select element,
			   create a new DIV that will act as an option item: */
			optiondiv = document.createElement("DIV");
			optiondiv.innerHTML = selElmnt.options[j].innerHTML;
			optiondiv.addEventListener("click", function(e) {
				/* When an item is clicked, update the original select box,
					and the selected item: */
				var targetNode, selectNode, previousNode, i, k;
				selectNode = this.parentNode.parentNode.getElementsByTagName("select")[0];
				previousNode = this.parentNode.previousSibling;

				for (i = 0; i < selectNode.length; i++) {
					if (selectNode.options[i].innerHTML == this.innerHTML) {
						selectNode.selectedIndex = i;
						previousNode.innerHTML = this.innerHTML;
						targetNode = this.parentNode.getElementsByClassName("same-as-selected");

						for (k = 0; k < targetNode.length; k++) {
							targetNode[k].removeAttribute("class");
						}
						this.setAttribute("class", "same-as-selected");
						break;
					}
				}
			previousNode.click();
		});
		tempdiv.appendChild(optiondiv);
	}

	dropdownlist[i].appendChild(tempdiv);
	selectdiv.addEventListener("click", function(e) {
		/* When the select box is clicked, close any other select boxes,
			and open/close the current select box: */
		e.stopPropagation();
		closeAllSelect(this);
		this.nextSibling.classList.toggle("select-hide");
		this.classList.toggle("select-arrow-active");
		});
	}
	
	/* If the user clicks anywhere outside the select box,
	then close all select boxes: */
	document.addEventListener("click", closeAllSelect);

	function showMessage(message) {
		if (message == "same_ts_use") {
			alert("WARNING: This TS is already in progress of relocation!");
		}
	}
	function disableTSField() {
		document.getElementById("ts_1").disabled = true;
		document.getElementById("ts_2").disabled = true;
	}
	function disableTASField() {
		document.getElementById("tas").disabled = true;
	}
	function ableTSField() {
		document.getElementById("ts_1").disabled = false;
		document.getElementById("ts_2").disabled = false;
	}
	function ableTASField() {
		document.getElementById("tas").disabled = false;
	}
</script>
</body>
</html>


